.shadow-fi{
    box-shadow: 0px 10px 50px 2px rgba(90, 82, 128, 0.10);;
}

html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  html.is-animating .transition-fade {
    opacity: 0;
  }

  .loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add your spinner styles (e.g., width, height, animation) here */
  }
  

  /*-----------------------------------*\
  #SCROLL ANIMATIONS
\*-----------------------------------*/


[data-reveal] {
    transform: translateY(50px);
    opacity: 0;
    --transition-3: 0.5s ease;
    transition: var(--transition-3);
  }
  
  [data-reveal="left"] { transform: translate(-50px, 0); }
  
  [data-reveal="right"] { transform: translate(50px, 0); }
  
  [data-reveal].revealed {
    transform: translate(0, 0);
    opacity: 1;
  }



  #menu.show-menu {
    max-height: 1000px; /* Adjust to a suitable value */
    opacity: 1;
  }

.my-h-0{
  height: 0;
  transition: height 3s ease-out;
}
  